<!DOCTYPE html>
<html lang="en">
    {% load static %}

    {% include '_head.html' %}
    <head>
        <meta charset="UTF-8">
    <title>Informes</title>
    </head>
<body>
    <div id="wrapper">
        {% include '_sidebar.html' %}
        <div id="content-wrapper" class="d-flex flex-column">
          <div id="content">
            {% include '_topbar.html' %}
            <div>
                En blanco
            </div>
          </div>
        </div>
    </div>
    {% include '_footer.html' %}
</body>
</html>