<!DOCTYPE html>
<html lang="en">
    {% load static %}

    {% include '_head.html' %}
    <head>
        <meta charset="UTF-8">
    <title>Informes</title>
    </head>
<body>
    <div id="wrapper">
        {% include '_sidebar.html' %}
        <div id="content-wrapper" class="d-flex flex-column">
          <div id="content">
            {% include '_topbar.html' %}
            <div>

                <label>Fecha:</label>
                <input type="date">
                <br>

                <label>Numero orden:</label>
                <input type="number">
                <br>

                <label>Solicitado por:</label>
                <input type="text">
                <br>

                <label>Elaborado por:</label>
                <input type="text">
                <br>

                <label>Autoriza:</label>
                <input type="text">
                <br>

                <label>Obra destino:</label>
                <input type="text">
                <br>

                <label>Nombre Proveedor:</label>
                <input type="text">
                <label>NIT:</label>
                <input type="text">
                <br>

                <label>Direccion Proveedor:</label>
                <input type="text">
                <br>

                <label>Telefono Proveedor:</label>
                <input type="number">
                <label>Ciudad:</label>
                <input type="Text">
                <br>

                <table>
                    <thead>
                        <tr>
                            <th>Cantidad</th>
                            <th>Descripcion</th>
                            <th>Unidad</th>
                            <th>Valor unitario</th>
                            <th>Valor total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="number"></td>
                            <td><input type="text"></td>
                            <td><input type="number"></td>
                            <td><input type="number"></td>
                            <td><input type="number"></td>
                            <td><button type="button" onclick="agregar_elemento(this)">Agregar</button></td>
                        </tr>
                    </tbody>
                </table>
                <script>
                    function agregar_elemento(e){
                        debugger
                        var table = e.parentElement.parentElement.parentElement.parentElement;
                        var row_target = e.parentElement.parentElement;
                        var body = e.parentElement.parentElement.parentElement;
                        body.appendChild(row_target.cloneNode(true));
                    }
                </script>

            </div>
          </div>
        </div>
    </div>
    {% include '_footer.html' %}
</body>
</html>