<!DOCTYPE html>
<html>
    {% load static %}

    {% include '_head.html' %}
    <head>
        <meta charset="UTF-8">
        <title>Clientes</title>
    </head>
    <body>
        <div id="wrapper">
        {% include '_sidebar.html' %}
        <div id="content-wrapper" class="d-flex flex-column">
          <div id="content">
            {% include '_topbar.html' %}
            <div class="card">
            <h1 class="card-header">
                    <i class="fas fa-user-cog" style="color: #433BFF;"></i> Clientes
                </h1>

            <div class="card-body">
                <div>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal1">
                        <i class="fas fa-plus"></i> Agregar Cliente
                    </button>
                    <button type="button" class="btn btn-danger" onclick="borrar()"><i class="fas fa-trash-alt"></i> Borrar </button>
                </div>
                <p></p>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModal1Label" aria-hidden="true" >
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Por favor complete los siguientes campos</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="form_datos" onsubmit="return false;">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Nombre</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Ingrese el nombre del cliente" aria-describedby="basic-addon1" id="nombre" name="Nombre" required=""/>
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Apellido</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Ingrese los apellidos del cliente" aria-describedby="basic-addon1" id="apellido" name="Apellido"/>
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Telefono</span>
                                        </div>
                                        <input type="number" class="form-control" placeholder="Ingrese el telefono del cliente" aria-describedby="basic-addon1" id="telefono" name="Telefono" required=""/>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon1">Tipo de Documento</span>
                                        </div>
                                        <select class="form-control" aria-describedby="basic-addon1" id="Tipo_doc" name="Tipo_doc">
                                            <option value="CC"> CC </option>
                                            <option value="Pasaporte"> Pasaporte </option>
                                            <option value="NIT"> NIT </option>
                                        </select>
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon1">Numero de documento</span>
                                        </div>
                                        <input type="number" class="form-control" placeholder="Ingrese el numero de documento" aria-describedby="basic-addon1" id="documento" name="Documento" required/>
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Email</span>
                                        </div>
                                        <input type="email" class="form-control" placeholder="Ingrese el email del cliente" aria-describedby="basic-addon1"  id="email" name="Email" required=""/>
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Direccion</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Ingrese la direccion del cliente" aria-describedby="basic-addon1"  id="direccion" name="Direccion"/>
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Ciudad</label>
                                        </div>
                                        <select class="custom-select" id="inputGroupSelect01"  id="ciudad" name="Ciudad" class="form-control" class="form-control" required="">
                                        {% for ciudad in ciudades %}
                                            <option value="{{ ciudad.id }}">{{ciudad.nombre}}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment">Comentario:</label>
                                        <textarea class="form-control" rows="3" id="comment" type="text" id="comentario" name="Comentario"></textarea>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success" onclick="nuevo()">Guardar</button>
                                        <button type="button" class="btn btn-danger"  data-dismiss="modal" > Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="Tabla_datos">
                        <thead class="thead"style="background:#009D36;">
                            <tr style="color: #ffffff;">
                                <th scope="col"><input type="checkbox" id="selectall"/> Todo</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Telefono</th>
                                <th scope="col">Email</th>
                                <th scope="col">Direccion</th>
                                <th scope="col">Ciudad</th>
                                <th scope="col">Comentario</th>
                                <th hidden scope="col">Documento</th>
                                <th hidden scope="col">Documento_numero</th>
                                <th scope="col">Operaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cliente in clientes%}
                            <tr>
                                <td><input type="checkbox" class="case" value="{{ cliente.id }}"/></td>
                                <td>{{cliente.nombre}}</td>
                                <td>{{cliente.apellido}}</td>
                                <td>{{cliente.telefono}}</td>
                                <td>{{cliente.email}}</td>
                                <td>{{cliente.direccion}}</td>
                                <td>{{cliente.ciudad.nombre}}</td>
                                <td>{{cliente.comentario}}</td>
                                <td hidden>{{cliente.document_type}}</td>
                                <td hidden>{{cliente.document_number}}</td>
                                <td>
                                     <i class="far fa-edit" style="color: #433BFF;" data-toggle="modal" data-target="#exampleModal" onclick="editar(this)"></i>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
  
               <!-- Modal editar -->
               <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modificar las propiedades del articulo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="form_editar" enctype="multipart/form-data" onsubmit="return false;">
                                    <input id="id_form" name="ID" hidden>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Nombre</span>
                                        </div>
                                        <input type="text" class="form-control" aria-describedby="basic-addon1" id="nombre_edit" name="Nombre" required=""/>
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Apellido</span>
                                        </div>
                                        <input type="text" class="form-control"  aria-describedby="basic-addon1" id="apellido_edit" name="Apellido"/>
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Telefono</span>
                                        </div>
                                        <input type="number" class="form-control" aria-describedby="basic-addon1" id="telefono_edit" name="Telefono" />
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon1">Tipo de Documento</span>
                                        </div>
                                        <select class="form-control" aria-describedby="basic-addon1" id="Tipo_doc_edit" name="Tipo_doc">
                                            <option value="CC"> CC </option>
                                            <option value="Pasaporte"> Pasaporte </option>
                                            <option value="NIT"> NIT </option>
                                        </select>
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon1">Numero de documento</span>
                                        </div>
                                        <input type="number" class="form-control" placeholder="Ingrese el numero de documento" aria-describedby="basic-addon1" id="documento_edit" name="Documento" required/>
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Email</span>
                                        </div>
                                        <input type="email" class="form-control"  aria-describedby="basic-addon1"  id="email_edit" name="Email" required=""/>
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Direccion</span>
                                        </div>
                                        <input type="text" class="form-control" aria-describedby="basic-addon1"  id="direccion_edit" name="Direccion"/>
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Ciudad</label>
                                        </div>
                                        <select class="custom-select" id="ciudad_edit" name="Ciudad" class="form-control" class="form-control" required="">
                                        {% for ciudad in ciudades %}
                                            <option value="{{ ciudad.id }}">{{ciudad.nombre}}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment">Comentario:</label>
                                        <textarea class="form-control" rows="3" type="text" id="comentario_edit" name="Comentario"></textarea>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success" onclick="guardar_edit()">Guardar</button>
                                        <button type="button" class="btn btn-danger"  data-dismiss="modal" > Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
              </div>
        </div>
    </div>
    {% include '_footer.html' %}
    </body>
</html>

{% csrf_token %}
<script>

    $("#selectall").on("click", function() {
      $(".case").prop("checked", this.checked);
    });

    $(".case").on("click", function() {
      if ($(".case").length == $(".case:checked").length) {
        $("#selectall").prop("checked", true);
      } else {
        $("#selectall").prop("checked", false);
      }
    });

    function cancelar(){
        document.getElementById("form_datos").reset();
        $('#form_datos')[0].setAttribute("hidden","true");
    }

    function mostrar_form(){
        if($('#form_datos')[0].hasAttribute('hidden'))
        {
            $('#form_datos')[0].removeAttribute("hidden");
        }
        else{
            $('#form_datos')[0].setAttribute("hidden","true");
        }
    }

    function reset_form(){
        $('#form_datos')[0].setAttribute("hidden","true");
    }

    function nuevo(){
        if($('#form_datos')[0].checkValidity()){
            var form = $('#form_datos')[0];
            var fd = new FormData(form);

            $.ajax({
               type: "POST",
               url: "clientes/nuevo",
               data: fd,
               processData: false,
               contentType: false,
               success: function(data) {
                    if(data.success == "true"){
                        document.getElementById("form_datos").reset();
                        $('#form_datos')[0].setAttribute("hidden","true");
                        $('#exampleModal1')[0].setAttribute("hidden","true");
                        window.location.reload(true);
                    }
                    alert(data.result);
               },
               failure: function(data){
                    console.log(data);
               }
            });
        }
    }

    function editar(e){
        $('#form_editar')[0].removeAttribute("hidden");
        var elements = (e.parentElement).parentElement;

        $('#id_form')[0].value = elements.children[0].children[0].value;
        $('#nombre_edit')[0].value = elements.children[1].textContent;
        $('#apellido_edit')[0].value = elements.children[2].textContent;
        $('#telefono_edit')[0].value = elements.children[3].textContent;
        $('#email_edit')[0].value = elements.children[4].textContent;
        $('#direccion_edit')[0].value = elements.children[5].textContent;
        //$('#ciudad_edit')[0].value = elements.children[6].textContent;
        $('#comentario_edit')[0].value = elements.children[7].textContent;
        $('#Tipo_doc_edit')[0].value = elements.children[8].textContent;
        $('#documento_edit')[0].value = elements.children[9].textContent;
       }

    function guardar_edit(){
        if($('#form_editar')[0].checkValidity()){
            var form = $('#form_editar')[0];
            var fd = new FormData(form);
            $.ajax({
               type: "POST",
               url: "clientes/editar",
               data: fd,
               processData: false,
               contentType: false,
               success: function(data) {
                    alert(data.result);
                    if(data.success == "true"){
                        document.getElementById("form_editar").reset();
                        $('#form_editar')[0].setAttribute("hidden","true");
                        $('#exampleModal')[0].setAttribute("hidden","true");
                        window.location.reload(true);
                    }
               },
               failure: function(data){
                    console.log(data);
               }
            });
        }
    }

    function borrar(){
        var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
        for (var checkbox of checkboxes) {
            var fd = new FormData();
            fd.append('ID', checkbox.value);
            $.ajax({
               type: "POST",
               url: "clientes/borrar",
               data: fd,
               processData: false,
               contentType: false,
               success: function(data) {
                    alert(data.result);
                    if(data.success == "true"){
                        document.getElementById("form_editar").reset();
                        $('#form_editar')[0].setAttribute("hidden","true");
                        window.location.reload(true);
                    }
               },
               failure: function(data){
                    console.log(data);
               }
            });
        }
    }
</script>